body {
	box-sizing: border-box;
}

.header {
	background: #ededed;
	padding: 1.5rem 1rem 0.5rem;
}


.list li {
	display: inline-block;
	box-sizing: border-box;
	width: 30%;
}

.list li span {
	colour: orange;
}
